/* 

            Global Setup

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333333;
    max-width: 1440px;
    margin: 0 auto;
}

button {
    border: none;
}

/* 

            Header Section

*/

header {
    margin-top: 5vh;
    margin-bottom: 4vh;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 2;
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: inline;
}

.navbar {
    display: flex;
}

.navbar li {
    padding-left: 3vw;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar li a {
    cursor: pointer;
}

/* Introduction section */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.introduction h3,
.introduction h1,
.introduction h4,
.introduction p,
.introduction form {
    padding-left: 20vw;
    padding-right: 20vw;
    align-self: flex-start;
}

.introduction h3 {
    color: #2D9CDB;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.introduction img {
    align-self: center;
    border-radius: 18px;
    margin-top: 4vh;
}

.introduction h1 {
    max-width: 37vw;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3vh;
}

.introduction p {
    color: #4F4F4F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 26rem;
    margin-top: 3vh;
}

.introduction h4 {
    color: #828282;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 6vh;
}

.introduction form {
    margin-top: 1vh;
}

.introduction form input {
    color: #BDBDBD;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.introduction form #email {
    background-color: #F2F2F2;
    border-radius: 12px;
    width: 350px;
    height: 60px;
}

.introduction form #button {
    color: #F2F2F2;
    margin-left: -115px;
    border-radius: 12px;
    background-color: #2D9CDB;
    width: 110px;
    height: 60px;
}

.introduction form #button:hover {
    cursor: pointer;
}

/* 

            Main Section

*/

main>section {
    margin-left: 10vw;
    margin-right: 10vw;
}

.main-title {
    color: #333;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* Services section */

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.service-title {
    align-self: flex-start;
}

.service-card-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}



.service-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    border-radius: 24px;
    background: #FFF;
    padding: 3rem;
}

.service-card:hover {
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
}

.service-icon {
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #27AE60;
}


.service-card-title {
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.service-para {
    color: var(--gray-2, #4F4F4F);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 273px;
}

.service-button {
    width: 116px;
    height: 42px;
    border-radius: 12px;
    background-color: #E0E0E0;
    color: #828282;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Showcase section  */

.showcase-card-container {
    display: grid;
    grid-template: auto auto / auto auto;
    align-items: flex-start;
    row-gap: 4rem;
    column-gap: 4rem;
}

.showcase-card-image {
    border-radius: 24px;
    margin-bottom: 0.5rem;
    width: 33rem;
}

.showcase-card-name {
    color: #828282;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.showcase-card-title {
    color: #333;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#showcard1,
#showcard3 {
    margin-top: 10rem;
}

@media screen and (max-width: 1338px) {
    .introduction img {
        width: 90vw;
    }
}

/* For small */
@media screen and (max-width: 640px) {

    main>section {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .navbar {
        display: none;
    }

    .introduction h1 {
        max-width: 75vw;
        font-size: 24px;
    }

    .introduction h3,
    .introduction h1,
    .introduction h4,
    .introduction p,
    .introduction form {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .introduction p {
        max-width: 80vw;
        font-size: 12px;
    }

    .introduction h4 {
        font-size: 10px;
    }

    .introduction form input {
        font-size: 18px;
    }

    .introduction form #email {
        width: 200px;
        height: 45px;
    }

    .introduction form #button {
        margin-left: -75px;
        width: 70px;
        height: 45px;
    }

    .service {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .service-card-container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .main-title {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .showcase-card-container {
        grid-template: auto auto auto auto / auto;
        align-items: flex-start;
        justify-content: center;
        row-gap: 2rem;
    }

    .showcase-card-image {
        margin-bottom: 0.3rem;
        width: 90vw;
    }

    .showcase-card-name {
        font-size: 0.7rem;
    }

    .showcase-card-title {
        font-size: 1.2rem;
    }

    #showcard1,
    #showcard3 {
        margin-top: 0;
    }
}